/* styles.css */
.app{
  width: 100%;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html,body {
  height: 100%;
  display: flex;
  background-color: #f5f5f5;
}

/* サイドバー */
.sidebar {
  height: 100%; 
  width: 250px;
  background-color: #2d445d;
}

.sidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.sidebarList .row {
  width: 100%;
  height: 60px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.sidebarList .row:hover {
  cursor: pointer;
  background-color: #3d627a;
}
.SidebarList #active {
  background-color: #3b627a;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}
.sidebarIcon{
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}
.sidebarIcon img{
  width: 100px;
}
.sidebarIcon p{
  color: white;
  font-weight: 600;
  font-size: 13px;
}


/* ヘッダー */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding: 10px 20px;
  width: 100%; /* 必須 */
  box-sizing: border-box; /* 必須 */
  flex-shrink: 0; /* ヘッダーの高さを固定 */
}
.container {
  display: flex;
  flex: 1; /* コンテナが残りのスペースを埋める */
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
  width: 60%;
}

.search-bar input {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.profile-icon {
  font-size: 24px;
}

/* コンテンツグリッド */
.content-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 20px 0;
}

.grid-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  min-height: 150px;
}

/* リスト形式のコンテンツ */
.content-list {
  margin-top: 20px;
  background-color: #ffffff;
  border-top: 1px solid #ccc;
}

.list-item {
  border-top: 1px solid #ccc;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* accountのコンテンツ */
.user-info, .settings {
background-color: #fff;
border: 1px solid #ccc;
padding: 20px;
margin-bottom: 20px;
}
.user-info table, .settings table {
width: 100%;
border-collapse: collapse;
}
.user-info td, .settings td {
padding: 10px;
border: 1px solid #ccc;
}
.change-button {
       float: right;
       padding: 5px 10px;
       font-size: 14px;
       cursor: pointer;
}
